<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fudan.webpj.repository.HistoryRepository">

    <resultMap id="HistoryResultMap" type="com.fudan.webpj.entity.History">
        <result column="historyId" jdbcType="INTEGER" property="historyId"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="userId" jdbcType="VARCHAR" property="userId"/>
        <result column="message" jdbcType="VARCHAR" property="message"/>
        <result column="time" jdbcType="VARCHAR" property="time"/>
        <result column="roomId" jdbcType="INTEGER" property="roomId"/>
    </resultMap>

    <select id="findHistoryByUserId" resultType="com.fudan.webpj.entity.History">
        select *
        from web_pj.history
        where user_id = #{userId}
    </select>

    <insert id="addNewHistory">
        insert into web_pj.history(history.type, user_id, message, history.time, room_id)
        values (#{type}, #{userId}, #{time}, #{roomId})
    </insert>

</mapper>
