<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fudan.webpj.repository.UserRepository">

    <resultMap id="BaseResultMap" type="com.fudan.webpj.entity.User">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="gender" jdbcType="INTEGER" property="gender"/>
    </resultMap>

    <select id="findUserById" resultType="com.fudan.webpj.entity.User">
        select *
        from web_pj.user
        where id = #{id}
    </select>

    <insert id="addNewUser">
        insert into web_pj.user(id, password, age, gender)
        values (#{id}, #{password}, #{age}, #{gender})
    </insert>


</mapper>